
.container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-family: Helvetica, ​Arial, ​sans-serif;
  border: 1px solid #B0CEE9;

  margin: 50px 0 0 100px;
  width: 1400px;
  height: 700px;
}

.specialists-list {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  border-left: 1px solid #B0CEE9;
}

.specialists-list > div {
  flex: 0 0 200px;
  height: 30px;
  padding-top: 10px;
  background-color: #D3E0EF;
  text-align: center;
}

.specialists-list > div + div,
.schedule_body > div + div > div  {
  border-left: 1px solid #B0CEE9;
}

.schedule {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #B0CEE9;
}

.schedule_timeline {
  display: flex;
  flex-direction: column;
}

.schedule_timeline div {
  width: 50px;
  height: 27px;
  text-align: left;
  padding-left: 10px;
  padding-top: 3px;
  color: #333333;
  border-right: 1px solid #B0CEE9;
}

.schedule_body {
  display: flex;
  flex-direction: row;
}

.schedule_timeline div,
.schedule_body > div > div {
  background-color: #FFFFFF;
}

.schedule_timeline div:nth-child(even),
.schedule_body > div > div:nth-child(odd) {
  border-top: 1px dotted #B0CEE9;
  border-bottom: 1px solid #B0CEE9;
}

.schedule_body > div > div {
  width: 200px;
  height: 30px;
}

.schedule_body > div > header {
  height: 0;
  position: relative;
}

.schedule_body > div > header > div {
  position: absolute;
  background-color: #576D7C;
  /*background-color: #4D7FA8;*/
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px .125em .25em rgba(0,0,0,.25);
  margin-top: 0px;
  left: 4px;
  width: 194px;
  cursor: pointer;
  color: #FFFFFF;
}

.schedule_body > div > header > div:hover {
  transform: translateY(-.05em);
  box-shadow: 0 .25em .5em rgba(0,0,0,.5);
}

.schedule_body > div > header > div:active {
  transform: translateY(-.02em);
  box-shadow: 0 .15em .1em rgba(0,0,0,.5);
}