.wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
}

#skeduler-items {
    flex: 20;
    height: 100%;
    background-color: #e8e8e8;
}

#skeduler-container {
    flex: 80;
    height: 100%;
    overflow: scroll;
}